<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153451851470-8fk2skbh4q1058605l090ij3d95s72ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153451851470-8fk2skbh4q1058605l090ij3d95s72ul</string>
	<key>API_KEY</key>
	<string>AIzaSyDavCPaDzSgnDlTxos6g8M4Oimy35k6s54</string>
	<key>GCM_SENDER_ID</key>
	<string>153451851470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thejitenpatel.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-96e88</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-96e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153451851470:ios:9cff331f13df6400ea6a9f</string>
</dict>
</plist>